<html>
<head>
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <!--webfonts-->
    <link href="{{ url_for('static', filename='css/font1.css') }}"
          rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='css/font2.css') }}" rel="stylesheet" type="text/css">
    <!--//webfonts-->
</head>
<body background="../img/bg1.jpg">

<!--SIGN UP-->
<h1>klasikal Login Form</h1>
<div class="login-form">
    <div class="close"></div>
    <div class="head-info">
        <label class="lbl-1"> </label>
        <label class="lbl-2"> </label>
        <label class="lbl-3"> </label>
    </div>
    <div class="clear"></div>
    <div class="avtar">
        <img src="images/avtar.png">
    </div>
    <form action="/login" method="post">
        <input type="text" class="text" value="Username" onfocus="this.value = '';"
               onblur="if (this.value == '') {this.value = 'Username';}">
        <div class="key">
            <input type="password" value="Password" onfocus="this.value = '';"
                   onblur="if (this.value == '') {this.value = 'Password';}">
        </div>

        <div class="signin">
            <input type="submit" value="Login">
        </div>
    </form>
</div>


</body>
</html>
