<html>

	<head>
		<title>Login</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
		<!--webfonts-->
		<link href="{{ url_for('static', filename='css/font1.css') }}" rel="stylesheet" type="text/css">
		<link href="{{ url_for('static', filename='css/font2.css') }}" rel="stylesheet" type="text/css">
		<!--//webfonts-->
		<script type="text/javascript" src="http://libs.baidu.com/jquery/1.8.3/jquery.min.js "></script>
		<script>
			$(document).ready(function() {
				$(".text").focus(function() {
					$(this).val("")
				});
				$(".key").focus(function() {
					$(this).val("")
				});
			});
		</script>

	</head>

	<body background="static/img/bg1.jpg">

		<!--SIGN UP-->
		{% if error %}
		<h1>{{ error }}</h1>
		{% else %}
		<h1> </h1>
		{% endif %}
		<div class="login-form">
			<div class="close"></div>
			<div class="head-info">
				<label class="lbl-1"> </label>
				<label class="lbl-2"> </label>
				<label class="lbl-3"> </label>
			</div>
			<div class="clear"></div>
			<div class="avtar">
				<img src="static/img/avtar.png">
			</div>
			<form action="{{ url_for('signin')}}" method="post">
				<input type="text" class="text" name="username" placeholder="Username">
				<!--<div class="key">-->
				<input type="password" class="key" name="password" placeholder="Password">
				<!--</div>-->
				<div class="login">
					<input type="submit" value="登 录 / 注 册">
				</div>
			</form>
		</div>

	</body>

</html>
